{% extends 'base.html' %}

{% block title %}Совет ветеранов{% endblock title %}
{% block header %}
    <h5> О Совете ветеранов </h5>
{% endblock header %}
{% block content %}
    <div class="container-fluid my-2">
        <div class="row">
            <div class="col text-center">
                <div> Совет ветеранов войны был создан на учредительном собрании.
Совет ветеранов был создан для решения таких важных вопросов как, защита социально-экономических, трудовых, жилищных, имущественных и личных прав, а также интересов ветеранов, обеспечение условий для достойного положения в обществе, улучшения материального благосостояния, медицинского обслуживания. Для решения указанных вопросов Советом ветеранов совместно с предприятием  реализуются программы оказания материальной помощи, медицинской и социальной защиты пенсионеров, осуществляется участие в патриотическом воспитании молодежи, проведение мероприятий для ветеранов, приуроченных к профессиональным и государственным праздникам.
В настоящее время Совет ветеранов является добровольным некоммерческим объединением пенсионеров, ранее работавших на предприятии.
Высшим органом Совета ветеранов является Общее собрание членов Совета ветеранов, которое каждые три года для руководства текущей деятельностью избирает исполнительный орган.
  </div>
            </div>
        </div>
    </div>
{% endblock content %}