{% extends "base.html" %}

{% block title %}Cовет ветеранов{% endblock title %}
{% block header %}
    <h5> Контакты </h5>
{% endblock header %}
{% block content %}
    <div class="container-fluid my-2">
        <div class="row">
            <div class="col text-center">
                <div>
                <p>«Совет ветеранов предприятия» <br>
                Адрес месторасположения: город, улица, дом.<br>
                Председатель Совета ветеранов: Иванов Иван Иванович.<br>
                Тел. 222333444<br>
                Секретарь Совета ветеранов: Петров Петр Петрович.<br>
                Тел. 333444555<br>
                Время роботы : вторник, четверг, суббота  15.00 – 20.00<br></p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}