{% extends 'base.html' %}

{% block title %}Совет ветеранов{% endblock title %}
{% block header %}
    <h5>{{ text }}</h5>
{% endblock header %}
{% block content %}
    <div class="container-fluid my-2">
        <div class="row bg-success text-white mx-2">
            <div class="col text-center">
                <p>Добро пожаловать на сайт <em>Совета ветеранов предприятия</em></p>
            </div>
        </div>
        <div class="row text-center text-dark 1h-2">
        </div>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="row my-2">
                    <div class="col mh-100 mx-2 ру-5 border border-5 bg-white text-primary"><h3>О предприятии</h3>
                    <p>Предприятие — самостоятельный, организационно-обособленный хозяйствующий субъект с правами юридического лица, который производит и сбывает товары, выполняет работы, оказывает услуги.
                    В современных условиях предприятие является основным звеном рыночной экономики, поскольку именно на этом уровне создаются нужные обществу товары, оказываются необходимые услуги.
                        Предприятие как юридическое лицо имеет право заниматься любой хозяйственной деятельностью, не запрещённой законодательством и отвечающей целям создания предприятия, предусмотренным в уставе предприятия.
                        Предприятие имеет самостоятельный баланс, расчётный и иные счета в банках, печать со своим наименованием.
                    Предприятие — обособленная специализированная единица, основным признаком которой является профессионально организованный трудовой коллектив,
                        способный с помощью имеющихся в его распоряжении средств производства изготовить нужные потребителю товары (выполнить работы, оказать услуги) соответствующего значения, профиля и ассортимента.
                        Предприятия выполняют важные экономические функции, основной из которых является производство и сбыт продукции или услуг, пользующихся спросом. Предприятия также создают спрос на ресурсы производства на результаты исследований.
                        Важной функцией предприятий является социализация работников, способствование их совместной трудовой деятельности.</p>
                    </div>
                    <div class="col h-auto mx-2 ру-5 border border-5 bg-white text-primary"><h3>Совет ветеранов предприятия</h3>
                    <p> Совет ветеранов – важное связующее звено между администрацией и ветеранами предприятия. <br>
                        В своей деятельности Совет руководствуется локальными нормативными актами, рекомендациями администрации и профсоюзного комитета, Положением о Совете ветеранов, внутренними документами и решениями Совета.<br>
                    Основные направления деятельности Совета ветеранов:<br>
                    поддержание у ветеранов предприятия чувства сопричастности к общественной жизни;<br>
                    удовлетворение духовных потребностей и помощь в обеспечении достойного социального положения в обществе;<br>
                    проявление заботы о защите чести и достоинства ветеранов;<br>
                    привлечение ветеранов к участию в общественных мероприятиях проводимых, администрацией, Советом молодежи и профсоюзной организацией предприятия;<br>
                    содействие администрации предприятия в организации празднования профессиональных, государственных праздников и юбилейных дат.<br>
                    </p>

                    </div>
                    <div class="col h-auto mx-2 ру-5 border border-5 bg-white text-primary"><h3>Объявления Совета ветеранов предприятия</h3>
                    <h3>Список объявлений</h3>
                    {% for ad in ad_list %}
                    <div class="text left">
                        <h4><a href="{{ ad.id }}"> {{ ad.title }}</a></h4>
                        <p>{{ ad.description }}</p>
                        <p>{{ ad.created_at }}</p>
                    </div>
                    <div class="cl"></div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

